.container {
  overflow-y: scroll;
}

h1 {
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

.column {
  float: none;
  width: 33.33%;
  padding-top: 2.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.column h2 {
  display: flex;
  justify-content: center;
  color: white;
}
  
.row:after {
  content: "";
  display: table;
  clear: both;
}
  
.learn-btn {
  background-color: #E1E2B6;
  color: #516B13;
  border: 2px solid #E1E2B6;
  border-radius: 10px;
  padding: 0.6em 1.2em;
  transition: 0.4s;
  cursor: pointer;
  width: 15%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 6rem;
  margin-bottom: 10rem;
}
  
.learn-btn:hover {
  background-color: #516B13;
  color: #E1E2B6;
  border-color: #E1E2B6;
}