.goals-bg {
    background-color: white;
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding: 0;
    margin: 0;
    position: fixed;
    top : 0;
    display: flex;
}

.goals-content {
    display: flex;
    background-color: white;
    height: calc(100vh-50px); /*same top/bot padding as sidebar*/
    box-sizing: border-box;
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px); /* sizebar is 250px  */
    overflow: hidden;
    justify-content: center;
    margin-top: 40px;
    margin-right: 2rem;
}

.goals-title {
    background-color: transparent;
    display: flex;
    position: fixed;
    height: 100px;
}

.goals-title h1 {
    background-color: transparent;
    color: #19360A;
}

.goals-wrapper > div {
    width: 33.33%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.goals-wrapper {
    background-color: transparent;
    width: 100%;
    margin-top: 90px;
    justify-content: center;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 25px;
}

.goals1 {
    background-color: #E1E2B6;
}

.goals2 {
    background-color: #E1E2B6;
}

.goals3 {
    background-color: #E1E2B6;
}

.goals1,
.goals2,
.goals3 {
    border-radius: 10px;
    height: 100%;
    box-shadow: 8px 8px  #516B13;
}

.goals-wrapper h2 {
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: 400;
    color: #19360A;
}

.goal-item {
    display: flex;
    flex-direction: column;
    text-align:center;
    background-color: transparent;
    width: 100%;
    justify-content: space-between;
}


.goal-item h2 {
    margin-bottom: 0;
    color:#19360A;

}