.bg {
    background-color: white;
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding: 0;
    margin: 0;
    position: fixed;
    top : 0;
    display: flex;
}

.content {
    display: flex;
    background-color: white;
    height: calc(100vh-50px); /*same top/bot padding as sidebar*/
    box-sizing: border-box;
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px); /* sizebar is 250px  */
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-right: 2rem;
}

.title {
    background-color: transparent;
    display: flex;
    justify-content: center;
    top: 10%;
    padding: 1rem;
    height: 100px;
}

.title h1 {
    background-color: transparent;
    align-items: center;
    color: #19360A;
}

.body {
    background-color: inherit;
    color:#19360A;
}

.body h2 {
    background-color: inherit;
    padding-bottom: 2rem;
}

.body h3 {
    align-items: center;
    margin: auto;
    padding: 1rem;
    border-radius: 10px;
    max-width: 50%;
    font-size: medium;
    color: white;
}
  
.body .correct {
    background-color: rgb(138, 247, 138);
    color: green;
}
  
.body .incorrect {
    background-color: rgb(247, 138, 138);
    color: #360a0a;
}

.body img {
    margin-top: 2rem;
}

.body input {
    margin-top: 2rem;
    width: 100%;
    color:#19360A;
}

.body input::placeholder {
    color:#516B13;
    font-weight: 500;
}

.body button {
    margin-top: 2rem;
}

.body p {
    background-color: inherit;
    text-size-adjust: small;
    color:#516B13;
}

.hint {
    background-color: inherit;
    display: flex;
    justify-content: right;
}

.hint a:hover, .hint p:hover {
    transition: all;
    font-style: 800;
    color: #19360A;
    text-decoration: underline;
}

.gameNav {
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.gameNav button {
    margin-left: 37%;
    text-align: center;
    flex-grow: 0;
}

.nextQuestion {
    padding: 1rem;
    color: #516B13;
    margin-left: auto;
}

.gameNav img {
    background-color: inherit;
}

.gameOver, .gameOver h2 {
    background-color: inherit;
    color: #19360A;
    padding: 1rem;
}

.btn {
    margin-top: 3rem;
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: 2px solid #E1E2B6;
    border-radius: 10px;
    background-color: #E1E2B6;
    color: #516B13;
    font-weight: 700;
}