.bg {
    background-color: white;
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: #19360A;
    overflow-y: scroll;
}

.finger-spell-focus-container {
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    font-size: 0.5rem;
}

.letter-box {
    width : 100%;
    background-color: transparent;
}

.letter-box1 {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    background-color: #E1E2B6;
    box-shadow: 0px 5px 3px grey;
    text-align: center;
    align-items: center;
    font-size: 10rem;

}

.wth-content {
    display: flex;
    background-color: white;
    height: calc(100vh-50px);
    /*same top/bot padding as sidebar*/
    box-sizing: border-box;
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    /* sizebar is 250px  */
    overflow: hidden;
}
.title {
    background-color: inherit;
    justify-content: center;
    padding: 1rem;
}

.prompt {
    margin-top: 4rem;
    background-color: inherit;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
}

.h2 {
    background-color: inherit;
}

.prompt h2,
.text-box h2,
.text-box,
.word-boxes,
.progress-bar {
    background-color: inherit;
}

.text-box {
    border: 4px solid #40560D;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;

    text-align: center;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    font-weight: 1000;

    display: flex;
    justify-content: center;
    width: 160px;
    margin: 0 auto;
}

.text-box h2 {
    font-size: 1.5rem;
    letter-spacing: 5px;
    padding: 0;
    margin: 0.5rem;
}

.word-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4rem;
    gap: 4rem;
}

.box1,
.box2,
.box3 {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    background-color: #E1E2B6;
    box-shadow: 0px 5px 3px grey;
    text-align: center;
    align-items: center;
    font-size: 8rem;
    padding: 2rem;
    width: 16rem;

}

.box1.correct,
.box2.correct,
.box3.correct,
.letter-box1.correct {
    /* background-color: #40560D;
    color: #E1E2B6; */
    border: 5px solid #40560D;
}

.check-sign {
    background-color: transparent;
}

.footer p {
    background-color: transparent;
    font-size: 1rem;    
}

.fsf-over {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: transparent;
    
}


