.contact {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 0.5rem;
    text-align: center;
    margin-top: -10rem; 
}

.sub-heading {
    font-size: medium;
    text-align: center;
    margin-bottom: 1rem;
}

form {
    display: flex;
    justify-content: center;
    width: 100%;
}

fieldset {
    display: flex;
    padding: 0rem;
    border: none;
    width: 480px;
    flex-direction: column;
    margin: 0;
}

input, textarea, select {
    border: 1px solid #E1E2B6;
    border-radius: 5px;
    background-color: #E1E2B6;
    color: black;
    height: 3rem;
    padding: 1rem;
    font-size: 1rem;
}

textarea {
    height: 6rem;
    resize: none;
}

.field, .message {
    position: relative;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
}

button {
    padding: 12px;
    width: 240px;
    background-color: #E1E2B6;
    color: #516B13;
    border: 2px solid #E1E2B6;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 1rem;
}

button:disabled, button[disabled] {
    border: 1px solid #262d22;
    background-color: #262d22;
    color: white;
    cursor: not-allowed;
    box-shadow: none;
}
