/* Paragraph styles */
p {
    font-size: 3rem;
    font-weight: 400;
    margin: 0;
}

/* Button styles */
.get-started-btn {
    background-color: #E1E2B6;
    font-weight: 500;
    font-size: 1.4rem;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 10px;
    color: #19360A;
    box-shadow: 2px 2px 4px #19360A;
    transition: 0.4s;
    cursor: pointer;
}

.get-started-btn:hover {
    background-color: white;
}

/* Background setup */
.homepage {
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url('/homepage-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center center;
    top: 0;
    left: 0;
}

/* Big box containing text and button */
.homepage-text {
    position: absolute;
    right: 10%;
    top: 25%;
    width: 70vh;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0; /* Remove excess padding */
    background: rgba(255, 255, 255, 0);
    text-align: left;
}

/* Text block inside big box */
.text-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
}

.button-section {
    display: block; /* switch to block to avoid flex interfering */
    padding-left: 2rem; /* space from the left */
    background-color: #516B13;
    height: 50vh;
    width: 70vh;
    padding-bottom: 5rem;
}

.get-started-btn {
    display: inline-block; /* make sure button respects block-level alignment */
    margin: 0;
}

