.contact {
    padding: 2rem;
    min-width: "30%";
}

.sub-heading {
    font-size: medium;
    text-align: center;
}

fieldset {
    display: flex;
    padding: 1rem;
    border: none;
    width: 480px;
    flex-direction: column;
    margin: auto;
}

input, textarea, select {
  border: 1px solid #E1E2B6;
  border-radius: 5px;
  background-color: #E1E2B6;
  color: black;
  height: 3rem;
  padding: 1rem;
}

.field, .message {
    position: relative;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.field label, .message label {
    padding-left: 0.5rem;
    padding-bottom: 0.5rem;
}

button {
    padding: 12px;
    width: 240px;
    background-color: #E1E2B6;
    color: #516B13;
    border: 2px solid #E1E2B6;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 10rem;
  }
  
button:disabled, button[disabled] {
    border: 1px solid #262d22;
    background-color: #262d22;
    color: white;
    cursor: not-allowed;
    box-shadow:#262d22;
}